{% extends 'base.html' %}
{% block content %}

<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="btn btn-secondary" href="{% url 'wishlist:logout' %}" role="button">Logout</a>
        <span class="navbar-text">
            <p>{{nama}}</p>
        </span>
    </div>
</nav>

<form id="submit_wishlist" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>Nama barang: </td>
            <td><input type="text" id="nama_barang" class="form-control"></td>
        </tr>
                
        <tr>
            <td>Harga barang: </td>
            <td><input type="text" id="harga_barang" class="form-control"></td>
        </tr>

        <tr>
            <td>Deskripsi: </td>
            <td><input type="text" id="deskripsi" class="form-control"></td>
        </tr>


        <tr>
            <td></td>
            <td><button type="submit">Tambah Barang</button></td>
        </tr>
    </table>
</form>

<table id = "myTable">
    <thead>    
        <tr>
            <th>Nama Barang</th>
            <th>Harga Barang</th>
            <th>Deskripsi</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script type="text/javascript">
    $.getJSON("{% url 'wishlist:json_show_wishlist' %}", function(data) {
        console.log("bisaa cuyyy")
        $(data).each(function(key, value) {
            $("#myTable > tbody").append($("<tr>")
                .append($("<td>").append(value.fields.nama_barang))
                .append($("<td>").append(value.fields.harga_barang))
                .append($("<td>").append(value.fields.deskripsi)));
        })
    })

    $(document).on('submit', '#submit_wishlist', function(e) {
        e.preventDefault();
        $.ajax({
            type:"POST",
            url: "{% url 'wishlist:tambah_wishlist' %}",
            dataType: 'json',
            data: {
                nama_barang: $("#nama_barang").val(),
                harga_barang: $("#harga_barang").val(),
                deskripsi: $("#deskripsi").val(),
                csrfmiddlewaretoken:'{{ csrf_token }}',
            },
            success: function(response) {
                console.log("bisaa cuyy")
                alert('Sukses cuy');
                window.location.reload();
            },
        });  
        $("#myTable > tbody").append($("<tr>")
            .append($("<td>").append($("#nama_barang").val()))
            .append($("<td>").append($("#harga_barang").val()))
            .append($("<td>").append($("#deskripsi").val())));
    });
    
</script>

{% endblock content %}