{% extends 'base.html' %}

{% block content %}

<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="btn btn-secondary" href="{% url 'wishlist:logout' %}" role="button">Logout</a>
        <span class="navbar-text">
            <p>{{nama}}</p>
        </span>
    </div>
</nav>

<table>
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
        <tr>
            <th>{{barang.nama_barang}}</th>
            <th>{{barang.harga_barang}}</th>
            <th>{{barang.deskripsi}}</th>
        </tr>
    {% endfor %}
</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}